body
{
    background-image:linear-gradient(to right, rgb(222, 240, 238), rgb(27, 176, 245));
    width: 100%;
    height: 100%;

}
.gr
{
    position: absolute;
    left: 19.5%;
    top: 30%;
    font-family: 'Fraunces';
    font-size: 25px;
}

.c1
{
    position: absolute;
    border-radius: 30px;
    border-style: solid;
    width: 850px;
    height: 150px;
    left: 245px;
    top: 8px;
    background-color: rgb(103, 180, 142);
}
.tx
{
    position: absolute;
    left: 19.5%;
    top: -15%;
    font-family: 'Fraunces';
    font-size: 40px;
}
.txt
{
    position: absolute;
    left: 1%;
    top: 12%;
    font-family: 'Fraunces';
    font-size: 20px;
}
.boton
{
    position: absolute;
    top: 170px;
    left: 300px;
    background-color: rgb(23, 133, 133);
    border: solid;
    border-color: black;
    width: 80px;
    height: 35px;
    color: black;
    cursor: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.boton:hover
{
 box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.semanas
{
    position: absolute;
    top: 170px;
    left: 46%;
    background-color: rgb(23, 133, 133);
    border: solid;
    border-color: black;
    width: 85px;
    height: 25px;
    color: black;
    cursor: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.semanas:hover
{
 box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.cuadro
{
    position: absolute;
    width: 1180px;
    height: 400px;
    border-radius: 30px;
    left: 75px;
    top: 220px;
    background-color: rgb(99, 240, 169);
    border-style: solid;
}
.b
{
    position: absolute;
    left: 400px;
    top: 50px;
    font-family: 'Fraunces';
    font-size: 50px; 
    opacity: 100%;
}
.t
{
    position: absolute;
    left: 300px;
    top: 120px;
    font-family: 'Fraunces';
    font-size: 50px; 
    opacity: 100%;
}
#semana3
{
position: absolute;
top: 5000px;
}
#semana5
{
position: absolute;
top: 10000px;
}
#semana6
{
position: absolute;
top: 15000px;
}
#semana7
{
position: absolute;
top: 20000px;
}
#semana8
{
position: absolute;
top: 25000px;
}
#semana9
{
position: absolute;
top: 30000px;
}
#semana10
{
position: absolute;
top: 35000px;
}
.im1
{
position: absolute;
top: 300px;
left: 20px;
}
#imp
{
    position: absolute;
    width: 512px;
    height: 512px;
    left: 450px;
    top: 220px;
}
